# Change credentials as required and rename to .env.dev
DEBUG=1
SECRET_KEY=biglongsecretstuffhere
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=api_dev_db
SQL_USER=api_dev_user
SQL_PASSWORD=api_dev_pword
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
REACT_APP_API_URL=http://127.0.0.1:8000/api
POSTGRES_USER=api_dev_user
POSTGRES_PASSWORD=api_dev_pword
POSTGRES_DB=api_dev_db