.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 16px 36px;
} 

p {
    font-size: 2rem;
}
