.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 1rem;
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 16px 36px;
} 

p {
    font-size: 2rem;
}

ul {
    margin: 2rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

li {
    list-style-type: none;
}